/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

section form .form-control, section form .form-select, section form .btn, header .alineacion-menu .botones-menu {
  background-color: #fffbf6;
  border-radius: 30px;
  box-shadow: 0.5px 0.5px 3px;
  color: black;
  margin: 10px; }

main span {
  font-weight: bold; }

main .p-uno {
  font-size: 1.3rem; }

main .p-dos, main .p-tres {
  font-size: 1.2rem; }

section {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  section img {
    width: 100%;
    box-shadow: 0.5px 0.5px 3px;
    border-radius: 10px; }

main p {
  font-size: 1.3rem; }

main ol {
  text-align: left;
  font-size: 1.1rem; }

section .gapa, section .inbody {
  display: none; }

main .info-uno img, main .info-dos img {
  width: 3%;
  height: 25%; }

section form {
  margin: 5px !important; }
  section form .form-control, section form .form-select, section form .btn {
    font-size: 1.2rem; }
  section form label {
    font-size: 1.2rem; }
  section form .btn:hover {
    transform: scale(1.1); }

section video {
  width: 50%;
  margin-left: 50px; }

/* estilos del contenedor */
.contenedor {
  background-color: #fce3cf;
  height: 100vh; }

/* estilos de header */
header {
  display: flex;
  justify-content: space-around; }
  header .logo {
    margin: 5px; }
    header .logo img {
      width: 100px;
      height: 100px;
      border-radius: 200px; }
  header .alineacion-menu {
    justify-content: right; }
    header .alineacion-menu .botones-menu:hover {
      transform: scale(1.04); }

/* estilos de main */
main {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

/* estilos de footer */
footer {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fffbf6;
  border: solid;
  border-color: bisque; }
  footer .derechos h2 {
    font-size: 1.2rem; }
  footer .derechos h3 {
    font-size: 1.1rem;
    font-style: italic; }
  footer ul {
    list-style: none; }
    footer ul li {
      margin: 15px; }
      footer ul li a {
        text-decoration: none;
        color: black; }

/* mq para tablet */
@media screen and (min-width: 576px) {
  footer {
    flex-direction: row; }
    footer ul {
      display: flex; } }

/* mq para desktop */
@media screen and (min-width: 992px) {
  .contenedor {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: "header header" "main section" "footer footer"; }
    .contenedor header {
      grid-area: header; }
    .contenedor main {
      grid-area: main; }
      .contenedor main .info-uno, .contenedor main .info-dos {
        display: flex;
        justify-content: center;
        gap: 10px; }
        .contenedor main .info-uno img, .contenedor main .info-dos img {
          height: 70%;
          width: 3%; }
    .contenedor section {
      grid-area: section; }
      .contenedor section .gapa {
        display: inline;
        width: 20%;
        border-radius: 700px;
        position: absolute;
        margin-top: 95px; }
      .contenedor section .inbody {
        display: inline;
        width: 73%;
        border-radius: 900px;
        margin-left: 90px; }
    .contenedor footer {
      grid-area: footer; } }
