main{
    .info-uno, .info-dos{
        img{
            width: 3%;
            height: 25%;
        }
    }
}
section{
    form{
        margin: 5px !important;
        padding: 25px;
        border: solid;
        border-radius: 25px;
        border-color: rgb(134, 132, 130);
        box-shadow: 0.5px 0.5px 3px;
        .form-control, .form-select, .btn{
            @extend %estilosMenu;
            font-size: $letra-chica;
        }
        label{
            font-size: $letra-chica;
        }
        .btn:hover{
            transform: scale(1.1);
        }
    }
}