main{
    span{
        font-weight: $letra-bold;
    }
    .p-uno, .p-dos, .p-tres{
        font-size: $letra-grande;
    }
}
section{
    @include flex;
    img{
        width: 100%;
        box-shadow: 0.5px 0.5px 3px;
        border-radius: 10px;
    }
}